*.sh text eol=lf
*.iptables text eol=lf
*.service text eol=lf
*.tool text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.go text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.svg text eol=lf
*.prop text eol=lf
*.ini text eol=lf
src/module/META-INF/com/google/android/update-binary text eol=lf
src/module/META-INF/com/google/android/updater-script text eol=lf

src/module/bin/arm64/sshcustomd binary
src/module/bin/arm/sshcustomd binary
src/module/vpnchain/bin/openvpn binary
src/module/vpnchain/bin/tun2socks binary
